{"openapi":"3.1.0","info":{"title":"BitBadges Chain API","version":"latest","description":"The **chain LCD** — the REST surface a BitBadges node serves through the Cosmos gRPC-gateway, live at `https://lcd.bitbadges.io`. It reads consensus state directly from a node: no indexing, no API key, no account.\n\n## The LCD is read-only\n\nEvery route here is a `GET` you can run from this page against mainnet. There are no write endpoints: the gateway serves queries and answers anything else with `501 Not Implemented`.\n\nTransactions never touch the LCD. A message is signed and then broadcast through the chain's RPC endpoint, or — far more simply — through the SDK. The message payloads themselves are documented at [Token Standard → Messages](/token-standard/messages); signing and broadcasting are covered in [SDK → Transactions](/sdk/transactions).\n\n## How this differs from the BitBadges API\n\n| | Chain API (this page) | [BitBadges API](/api-reference) |\n| --- | --- | --- |\n| Serves | `https://lcd.bitbadges.io` | `https://api.bitbadges.io` |\n| Source of truth | A node's own state, current block | The indexer, built from chain history |\n| Auth | None | API key |\n| Good for | Exact on-chain values, params, pool math | Metadata, activity, claims, search, sign-in |\n\nUse the chain API when you need the value the chain itself would return. Use the BitBadges API when you need anything the chain does not store — off-chain metadata, activity history, claims, or a query the chain has no index for.\n\n## Documented queries\n\nThe routes here are generated from the chain's proto definitions, so each one carries only the explanation its proto comment carries. The hand-written explanation of each query — arguments, response shape, worked examples — lives at [Token Standard → Queries](/token-standard/queries), and the modules around the standard at [Chain → Modules](/chain/modules)."},"servers":[{"url":"https://lcd.bitbadges.io","description":"BitBadges mainnet LCD"}],"tags":[{"name":"Tokenization","description":"`x/tokenization` — the BitBadges token standard: collections, balances, address lists, approval trackers and dynamic stores, read straight from node state."},{"name":"GAMM","description":"`x/gamm` — the AMM pools: pool state, spot prices, share math and swap estimates."},{"name":"Pool manager","description":"`x/poolmanager` — routing across pools, taker fee agreements and multi-hop swap estimation."},{"name":"Send manager","description":"`x/sendmanager` — alias routing for sends, and the balances behind an alias denom."},{"name":"Manager splitter","description":"`x/managersplitter` — splitting a collection manager across several addresses."}],"paths":{"/bitbadges/bitbadgeschain/tokenization/get_address_list/{listId}":{"get":{"tags":["Tokenization"],"summary":"Get an address list","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetAddressList","parameters":[{"name":"listId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetAddressListResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries an address list by ID."}},"/bitbadges/bitbadgeschain/tokenization/get_all_reserved_protocol_addresses":{"get":{"tags":["Tokenization"],"summary":"List reserved addresses","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetAllReservedProtocolAddresses","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetAllReservedProtocolAddressesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries all reserved protocol addresses."}},"/bitbadges/bitbadgeschain/tokenization/get_approvals_tracker/{collectionId}/{approvalLevel}/{approverAddress}/{amountTrackerId}/{trackerType}/{approvedAddress}":{"get":{"tags":["Tokenization"],"summary":"Get an approval tracker","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetApprovalTracker","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"description":"\"collection\" or \"incoming\" or \"outgoing\"","name":"approvalLevel","in":"path","required":true,"schema":{"type":"string"}},{"description":"if approvalLevel is \"collection\", leave blank","name":"approverAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"amountTrackerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"trackerType","in":"path","required":true,"schema":{"type":"string"}},{"description":"if trackerType is \"overall\", leave blank","name":"approvedAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"approvalId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetApprovalTrackerResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries an approvals tracker by ID."}},"/bitbadges/bitbadgeschain/tokenization/get_balance_for_token/{collectionId}/{address}/{tokenId}":{"get":{"tags":["Tokenization"],"summary":"Get a token balance","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetBalanceForToken","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"address","in":"path","required":true,"schema":{"type":"string"}},{"name":"tokenId","in":"path","required":true,"schema":{"type":"string"}},{"description":"Optional - milliseconds since epoch, defaults to current block time","name":"time","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetBalanceForTokenResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries the balance amount for a specific token ID at a specific time."}},"/bitbadges/bitbadgeschain/tokenization/get_balance/{collectionId}/{address}":{"get":{"tags":["Tokenization"],"summary":"Get a balance","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetBalance","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetBalanceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries an addresses balance for a collection, specified by its ID."}},"/bitbadges/bitbadgeschain/tokenization/get_challenge_tracker/{collectionId}/{approvalLevel}/{approverAddress}/{challengeTrackerId}/{leafIndex}":{"get":{"tags":["Tokenization"],"summary":"Get a challenge tracker","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetChallengeTracker","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"description":"\"collection\" or \"incoming\" or \"outgoing\"","name":"approvalLevel","in":"path","required":true,"schema":{"type":"string"}},{"description":"if approvalLevel is \"collection\", leave blank","name":"approverAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"challengeTrackerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"leafIndex","in":"path","required":true,"schema":{"type":"string"}},{"name":"approvalId","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetChallengeTrackerResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries the number of times a given leaf has been used for a given merkle challenge."}},"/bitbadges/bitbadgeschain/tokenization/get_collection_stats/{collectionId}":{"get":{"tags":["Tokenization"],"summary":"Get collection stats","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetCollectionStats","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetCollectionStatsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries collection stats (holder count and circulating supply) by collection ID."}},"/bitbadges/bitbadgeschain/tokenization/get_collection/{collectionId}":{"get":{"tags":["Tokenization"],"summary":"Get a collection","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetCollection","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetCollectionResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries a collection by ID."}},"/bitbadges/bitbadgeschain/tokenization/get_dynamic_store_value/{storeId}/{address}":{"get":{"tags":["Tokenization"],"summary":"Get a dynamic store value","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetDynamicStoreValue","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetDynamicStoreValueResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries a dynamic store value by store ID and address."}},"/bitbadges/bitbadgeschain/tokenization/get_dynamic_store/{storeId}":{"get":{"tags":["Tokenization"],"summary":"Get a dynamic store","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetDynamicStore","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetDynamicStoreResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries a dynamic store by ID."}},"/bitbadges/bitbadgeschain/tokenization/get_eth_signature_tracker/{collectionId}/{approvalLevel}/{approverAddress}/{approvalId}/{challengeTrackerId}/{signature}":{"get":{"tags":["Tokenization"],"summary":"Get an ETH signature tracker","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetETHSignatureTracker","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"description":"\"collection\" or \"incoming\" or \"outgoing\"","name":"approvalLevel","in":"path","required":true,"schema":{"type":"string"}},{"description":"if approvalLevel is \"collection\", leave blank","name":"approverAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"schema":{"type":"string"}},{"name":"challengeTrackerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"signature","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetETHSignatureTrackerResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries the number of times a given signature has been used for a given ETH signature challenge."}},"/bitbadges/bitbadgeschain/tokenization/get_vote/{collectionId}/{approvalLevel}/{approverAddress}/{approvalId}/{proposalId}/{voterAddress}":{"get":{"tags":["Tokenization"],"summary":"Get a vote","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetVote","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"description":"\"collection\" or \"incoming\" or \"outgoing\"","name":"approvalLevel","in":"path","required":true,"schema":{"type":"string"}},{"description":"if approvalLevel is \"collection\", leave blank","name":"approverAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"schema":{"type":"string"}},{"name":"proposalId","in":"path","required":true,"schema":{"type":"string"}},{"name":"voterAddress","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetVoteResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries a vote by collection ID, approval level, approver address, approval ID, proposal ID, and voter address."}},"/bitbadges/bitbadgeschain/tokenization/get_votes/{collectionId}/{approvalLevel}/{approverAddress}/{approvalId}/{proposalId}":{"get":{"tags":["Tokenization"],"summary":"Get votes","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetVotes","parameters":[{"name":"collectionId","in":"path","required":true,"schema":{"type":"string"}},{"description":"\"collection\" or \"incoming\" or \"outgoing\"","name":"approvalLevel","in":"path","required":true,"schema":{"type":"string"}},{"description":"if approvalLevel is \"collection\", leave blank","name":"approverAddress","in":"path","required":true,"schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"schema":{"type":"string"}},{"name":"proposalId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetVotesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries all votes for a proposal."}},"/bitbadges/bitbadgeschain/tokenization/get_wrappable_balances/{denom}/{address}":{"get":{"tags":["Tokenization"],"summary":"Get wrappable balances","operationId":"GithubCombitbadgesbitbadgeschainQuery_GetWrappableBalances","parameters":[{"name":"denom","in":"path","required":true,"schema":{"type":"string"}},{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryGetWrappableBalancesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries the maximum wrappable amount for a given denom and user address."}},"/bitbadges/bitbadgeschain/tokenization/is_address_reserved_protocol/{address}":{"get":{"tags":["Tokenization"],"summary":"Check a reserved address","operationId":"GithubCombitbadgesbitbadgeschainQuery_IsAddressReservedProtocol","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryIsAddressReservedProtocolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Queries if an address is a reserved protocol address."}},"/bitbadges/bitbadgeschain/tokenization/params":{"get":{"tags":["Tokenization"],"summary":"Get module params","operationId":"GithubCombitbadgesbitbadgeschainQuery_ParamsMixin53","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/tokenization.QueryParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Parameters queries the parameters of the module."}},"/osmosis/gamm/v1beta1/{pool_id}/estimate/swap_exact_amount_in":{"get":{"tags":["GAMM"],"summary":"Estimate a swap in","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountIn","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"sender","in":"query","schema":{"type":"string"}},{"name":"token_in","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QuerySwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Deprecated: please use the alternative in x/poolmanager"}},"/osmosis/gamm/v1beta1/{pool_id}/estimate/swap_exact_amount_out":{"get":{"tags":["GAMM"],"summary":"Estimate a swap out","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountOut","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"sender","in":"query","schema":{"type":"string"}},{"name":"token_out","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QuerySwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Deprecated: please use the alternative in x/poolmanager"}},"/osmosis/gamm/v1beta1/filtered_pools":{"get":{"tags":["GAMM"],"summary":"Filter pools","operationId":"GithubCombitbadgesbitbadgeschainQuery_PoolsWithFilter","parameters":[{"description":"String of the coins in single string separated by comma. Ex)\n10uatom,100uosmo","name":"min_liquidity","in":"query","schema":{"type":"string"}},{"name":"pool_type","in":"query","schema":{"type":"string"}},{"description":"key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.","name":"pagination.key","in":"query","schema":{"type":"string","format":"byte"}},{"description":"offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.","name":"pagination.offset","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.","name":"pagination.limit","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.","name":"pagination.count_total","in":"query","schema":{"type":"boolean"}},{"description":"reverse is set to true if results are to be returned in the descending order.","name":"pagination.reverse","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryPoolsWithFilterResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"PoolsWithFilter allows you to query specific pools with requested parameters"}},"/osmosis/gamm/v1beta1/num_pools":{"get":{"tags":["GAMM"],"summary":"Count pools","operationId":"GithubCombitbadgesbitbadgeschainQuery_NumPools","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryNumPoolsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Deprecated: please use the alternative in x/poolmanager"}},"/osmosis/gamm/v1beta1/params":{"get":{"tags":["GAMM"],"summary":"Get module params","operationId":"GithubCombitbadgesbitbadgeschainQuery_Params","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.ParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Params returns gamm module params."}},"/osmosis/gamm/v1beta1/pool_type/{pool_id}":{"get":{"tags":["GAMM"],"summary":"Get a pool type","operationId":"GithubCombitbadgesbitbadgeschainQuery_PoolType","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryPoolTypeResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"PoolType returns the type of the pool. Returns \"Balancer\" as a string literal when the pool is a balancer pool. Errors if the pool is failed to be type caseted."}},"/osmosis/gamm/v1beta1/pools":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_Pools","parameters":[{"description":"key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.","name":"pagination.key","in":"query","schema":{"type":"string","format":"byte"}},{"description":"offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.","name":"pagination.offset","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.","name":"pagination.limit","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.","name":"pagination.count_total","in":"query","schema":{"type":"boolean"}},{"description":"reverse is set to true if results are to be returned in the descending order.","name":"pagination.reverse","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryPoolsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"List pools"}},"/osmosis/gamm/v1beta1/pools/{pool_id}":{"get":{"tags":["GAMM"],"summary":"Get a pool","operationId":"GithubCombitbadgesbitbadgeschainQuery_Pool","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryPoolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Deprecated: please use the alternative in x/poolmanager"}},"/osmosis/gamm/v1beta1/pools/{pool_id}/exit_swap_share_amount_in":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_CalcExitPoolCoinsFromShares","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"share_in_amount","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryCalcExitPoolCoinsFromSharesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"Calculate exit pool coins"}},"/osmosis/gamm/v1beta1/pools/{pool_id}/join_swap_exact_in":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_CalcJoinPoolShares","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryCalcJoinPoolSharesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"Calculate join pool shares"}},"/osmosis/gamm/v1beta1/pools/{pool_id}/params":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_PoolParams","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryPoolParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"Get pool params"}},"/osmosis/gamm/v1beta1/pools/{pool_id}/prices":{"get":{"tags":["GAMM"],"summary":"Get a spot price","operationId":"GithubCombitbadgesbitbadgeschainQuery_SpotPrice","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"base_asset_denom","in":"query","schema":{"type":"string"}},{"name":"quote_asset_denom","in":"query","schema":{"type":"string"}},{"description":"DEPRECATED","name":"withSwapFee","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QuerySpotPriceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"SpotPrice defines a gRPC query handler that returns the spot price given a base denomination and a quote denomination."}},"/osmosis/gamm/v1beta1/pools/{pool_id}/total_pool_liquidity":{"get":{"tags":["GAMM"],"summary":"Get total pool liquidity","operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalPoolLiquidity","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryTotalPoolLiquidityResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Deprecated: please use the alternative in x/poolmanager"}},"/osmosis/gamm/v1beta1/pools/{pool_id}/total_shares":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalShares","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryTotalSharesResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"Get total shares"}},"/osmosis/gamm/v1beta1/total_liquidity":{"get":{"tags":["GAMM"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalLiquidity","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v1beta1.QueryTotalLiquidityResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"Get total liquidity"}},"/osmosis/gamm/v2/pools/{pool_id}/prices":{"get":{"tags":["GAMM"],"summary":"Get a spot price (v2)","operationId":"GithubCombitbadgesbitbadgeschainQuery_SpotPriceMixin13","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"base_asset_denom","in":"query","schema":{"type":"string"}},{"name":"quote_asset_denom","in":"query","schema":{"type":"string"}},{"description":"DEPRECATED","name":"withSwapFee","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/gamm.v2.QuerySpotPriceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Deprecated: please use alternate in x/poolmanager"}},"/osmosis/poolmanager/pools/{pool_id}/prices":{"get":{"tags":["Pool manager"],"summary":"Get a spot price","operationId":"GithubCombitbadgesbitbadgeschainQuery_SpotPriceMixin26","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"base_asset_denom","in":"query","schema":{"type":"string"}},{"name":"quote_asset_denom","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.SpotPriceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"SpotPrice defines a gRPC query handler that returns the spot price given a base denomination and a quote denomination."}},"/osmosis/poolmanager/v1beta1/{denom}/registered_alloyed_pool_from_denom":{"get":{"tags":["Pool manager"],"summary":"Get an alloyed pool by denom","operationId":"GithubCombitbadgesbitbadgeschainQuery_RegisteredAlloyedPoolFromDenom","parameters":[{"name":"denom","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.RegisteredAlloyedPoolFromDenomResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"RegisteredAlloyedPoolFromDenom returns the registered alloyed pool state from the given denom. The registered alloyed pool contains the pool's contract address, along with the current distribution composition of taker fee share denoms within the alloyed pool."}},"/osmosis/poolmanager/v1beta1/{denom}/taker_fee_share_agreement_from_denom":{"get":{"tags":["Pool manager"],"summary":"Get a taker fee agreement","operationId":"GithubCombitbadgesbitbadgeschainQuery_TakerFeeShareAgreementFromDenom","parameters":[{"name":"denom","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeShareAgreementFromDenomResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"TakerFeeShareAgreementFromDenom returns the taker fee share agreement for a given denom. A taker fee share agreement includes the denom of the denom getting the taker fees, the percent of the taker fees that the denom gets when it is in the route being traded against, and the address that the taker fees are sent to at epoch."}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate_out/single_pool_swap_exact_amount_out":{"get":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSinglePoolSwapExactAmountOut","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"token_in_denom","in":"query","schema":{"type":"string"}},{"name":"token_out","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"Estimate a single-pool swap out"}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate_trade":{"get":{"tags":["Pool manager"],"summary":"Estimate a trade","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateTradeBasedOnPriceImpact","parameters":[{"description":"pool_id is the identifier of the liquidity pool that the trade will occur\non.","name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"from_coin.denom","in":"query","schema":{"type":"string"}},{"name":"from_coin.amount","in":"query","schema":{"type":"string"}},{"description":"to_coin_denom is the denom identifier of the token that the user wants to\nbuy.","name":"to_coin_denom","in":"query","schema":{"type":"string"}},{"description":"max_price_impact is the maximum percentage that the user is willing\nto affect the price of the liquidity pool.","name":"max_price_impact","in":"query","schema":{"type":"string"}},{"description":"external_price is an optional external price that the user can enter.\nIt adjusts the MaxPriceImpact as the SpotPrice of a pool can be changed at\nany time.","name":"external_price","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateTradeBasedOnPriceImpactResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"EstimateTradeBasedOnPriceImpact returns an estimated trade based on price impact, if a trade cannot be estimated a 0 input and 0 output would be returned."}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate/single_pool_swap_exact_amount_in":{"get":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSinglePoolSwapExactAmountIn","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"token_in","in":"query","schema":{"type":"string"}},{"name":"token_out_denom","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"Estimate a single-pool swap in"}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate/swap_exact_amount_in":{"get":{"tags":["Pool manager"],"summary":"Estimate a swap in","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountInMixin26","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"description":"DEPRECATED","name":"sender","in":"query","schema":{"type":"string"}},{"name":"token_in","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Estimates swap amount out given in."}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate/swap_exact_amount_in_with_primitive_types":{"get":{"tags":["Pool manager"],"summary":"Estimate a swap in (primitives)","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountInWithPrimitiveTypes","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"token_in","in":"query","schema":{"type":"string"}},{"style":"form","explode":true,"name":"routes_pool_id","in":"query","schema":{"type":"array","items":{"type":"string","format":"uint64"}}},{"style":"form","explode":true,"name":"routes_token_out_denom","in":"query","schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountInResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"EstimateSwapExactAmountInWithPrimitiveTypes is an alternative query for EstimateSwapExactAmountIn. Supports query via GRPC-Gateway by using primitive types instead of repeated structs. Each index in the routes_pool_id field corresponds to the respective routes_token_out_denom value, thus they are required to have the same length and are grouped together as pairs. example usage: http://0.0.0.0:1317/osmosis/poolmanager/v1beta1/1/estimate/ swap_exact_amount_in_with_primitive_types?token_in=100000stake&routes_token_out_denom=uatom &routes_token_out_denom=uion&routes_pool_id=1&routes_pool_id=2"}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate/swap_exact_amount_out":{"get":{"tags":["Pool manager"],"summary":"Estimate a swap out","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountOutMixin26","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"description":"DEPRECATED","name":"sender","in":"query","schema":{"type":"string"}},{"name":"token_out","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Estimates swap amount in given out."}},"/osmosis/poolmanager/v1beta1/{pool_id}/estimate/swap_exact_amount_out_with_primitive_types":{"get":{"tags":["Pool manager"],"summary":"Estimate a swap out (primitives)","operationId":"GithubCombitbadgesbitbadgeschainQuery_EstimateSwapExactAmountOutWithPrimitiveTypes","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"style":"form","explode":true,"name":"routes_pool_id","in":"query","schema":{"type":"array","items":{"type":"string","format":"uint64"}}},{"style":"form","explode":true,"name":"routes_token_in_denom","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"token_out","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.EstimateSwapExactAmountOutResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Estimates swap amount in given out."}},"/osmosis/poolmanager/v1beta1/{pool_id}/registered_alloyed_pool_from_pool_id":{"get":{"tags":["Pool manager"],"summary":"Get an alloyed pool by ID","operationId":"GithubCombitbadgesbitbadgeschainQuery_RegisteredAlloyedPoolFromPoolId","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.RegisteredAlloyedPoolFromPoolIdResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"RegisteredAlloyedPoolFromPoolId returns the registered alloyed pool state from the given pool id. The registered alloyed pool contains the pool's contract address, along with the current distribution composition of taker fee share denoms within the alloyed pool."}},"/osmosis/poolmanager/v1beta1/{takerFeeDenom}/{denom}/taker_fee_share_denoms_to_accrued_value":{"get":{"tags":["Pool manager"],"summary":"Get accrued taker fee value","operationId":"GithubCombitbadgesbitbadgeschainQuery_TakerFeeShareDenomsToAccruedValue","parameters":[{"name":"takerFeeDenom","in":"path","required":true,"schema":{"type":"string"}},{"name":"denom","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeShareDenomsToAccruedValueResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"TakerFeeShareDenomsToAccruedValue returns the accrued value (as an Int) of the given taker fee denom (the collected fees) for the given fee share denom (the denom with the taker fee share agreement)"}},"/osmosis/poolmanager/v1beta1/all_registered_alloyed_pools":{"get":{"tags":["Pool manager"],"summary":"List alloyed pools","operationId":"GithubCombitbadgesbitbadgeschainQuery_AllRegisteredAlloyedPools","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.AllRegisteredAlloyedPoolsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"AllRegisteredAlloyedPools returns all registered alloyed pools. The registered alloyed pool contains the pool's contract address, along with the current distribution composition of taker fee share denoms within the alloyed pool."}},"/osmosis/poolmanager/v1beta1/all_taker_fee_share_accumulators":{"get":{"tags":["Pool manager"],"summary":"List taker fee accumulators","operationId":"GithubCombitbadgesbitbadgeschainQuery_AllTakerFeeShareAccumulators","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.AllTakerFeeShareAccumulatorsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"AllTakerFeeShareAccumulators returns all taker fee share accumulators. A taker fee share accumulator includes the denom of the denom getting the taker fees, and an accumulated value of coins that the denom has accrued since the last time it was distributed in the epoch prior."}},"/osmosis/poolmanager/v1beta1/all_taker_fee_share_agreements":{"get":{"tags":["Pool manager"],"summary":"List taker fee agreements","operationId":"GithubCombitbadgesbitbadgeschainQuery_AllTakerFeeShareAgreements","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.AllTakerFeeShareAgreementsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"AllTakerFeeShareAgreements returns all taker fee share agreements. A taker fee share agreement includes the denom of the denom getting the taker fees, the percent of the taker fees that the denom gets when it is in the route being traded against, and the address that the taker fees are sent to at epoch."}},"/osmosis/poolmanager/v1beta1/all-pools":{"get":{"tags":["Pool manager"],"summary":"List pools","operationId":"GithubCombitbadgesbitbadgeschainQuery_AllPools","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.AllPoolsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"AllPools returns all pools on the Osmosis chain sorted by IDs."}},"/osmosis/poolmanager/v1beta1/list-pools-by-denom":{"get":{"tags":["Pool manager"],"summary":"List pools by denom","operationId":"GithubCombitbadgesbitbadgeschainQuery_ListPoolsByDenom","parameters":[{"name":"denom","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.ListPoolsByDenomResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"ListPoolsByDenom return all pools by denom"}},"/osmosis/poolmanager/v1beta1/num_pools":{"get":{"tags":["Pool manager"],"summary":"Count pools","operationId":"GithubCombitbadgesbitbadgeschainQuery_NumPoolsMixin26","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.NumPoolsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Returns the total number of pools existing in Osmosis."}},"/osmosis/poolmanager/v1beta1/Params":{"get":{"tags":["Pool manager"],"operationId":"GithubCombitbadgesbitbadgeschainQuery_ParamsMixin26","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.ParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"summary":"Get module params"}},"/osmosis/poolmanager/v1beta1/pools/{pool_id}":{"get":{"tags":["Pool manager"],"summary":"Get a pool","operationId":"GithubCombitbadgesbitbadgeschainQuery_PoolMixin26","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.PoolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Pool returns the Pool specified by the pool id"}},"/osmosis/poolmanager/v1beta1/pools/{pool_id}/total_pool_liquidity":{"get":{"tags":["Pool manager"],"summary":"Get total pool liquidity","operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalPoolLiquidityMixin26","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TotalPoolLiquidityResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"TotalPoolLiquidity returns the total liquidity of the specified pool."}},"/osmosis/poolmanager/v1beta1/pools/{pool_id}/total_volume":{"get":{"tags":["Pool manager"],"summary":"Get total pool volume","operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalVolumeForPool","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TotalVolumeForPoolResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"TotalVolumeForPool returns the total volume of the specified pool."}},"/osmosis/poolmanager/v1beta1/total_liquidity":{"get":{"tags":["Pool manager"],"summary":"Get total liquidity","operationId":"GithubCombitbadgesbitbadgeschainQuery_TotalLiquidityMixin26","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TotalLiquidityResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"TotalLiquidity returns the total liquidity across all pools."}},"/osmosis/poolmanager/v1beta1/trading_pair_takerfee":{"get":{"tags":["Pool manager"],"summary":"Get a trading pair taker fee","operationId":"GithubCombitbadgesbitbadgeschainQuery_TradingPairTakerFee","parameters":[{"name":"denom_0","in":"query","schema":{"type":"string"}},{"name":"denom_1","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v1beta1.TradingPairTakerFeeResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"TradingPairTakerFee returns the taker fee for a given set of denoms"}},"/osmosis/poolmanager/v2/pools/{pool_id}/prices":{"get":{"tags":["Pool manager"],"summary":"Get a spot price (v2)","operationId":"GithubCombitbadgesbitbadgeschainQuery_SpotPriceV2","parameters":[{"name":"pool_id","in":"path","required":true,"schema":{"type":"string","format":"uint64"}},{"name":"base_asset_denom","in":"query","schema":{"type":"string"}},{"name":"quote_asset_denom","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/poolmanager.v2.SpotPriceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"SpotPriceV2 defines a gRPC query handler that returns the spot price given a base denomination and a quote denomination. The returned spot price has 36 decimal places. However, some of modules perform sig fig rounding so most of the rightmost decimals can be zeroes."}},"/bitbadges/bitbadgeschain/sendmanager/balance/{address}/{denom}":{"get":{"tags":["Send manager"],"summary":"Get a balance","operationId":"GithubCombitbadgesbitbadgeschainQuery_Balance","parameters":[{"description":"address is the address to query balances for.","name":"address","in":"path","required":true,"schema":{"type":"string"}},{"description":"denom is the specific denomination to query the balance for.","name":"denom","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sendmanager.QueryBalanceResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Balance queries the balance of a specific denom for an address with alias routing. This allows querying both standard coins and alias denoms (e.g., badgeslp:)."}},"/bitbadges/bitbadgeschain/sendmanager/params":{"get":{"tags":["Send manager"],"summary":"Get module params","operationId":"GithubCombitbadgesbitbadgeschainQuery_ParamsMixin34","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/sendmanager.QueryParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Parameters queries the parameters of the module."}},"/bitbadges/bitbadgeschain/managersplitter":{"get":{"tags":["Manager splitter"],"summary":"List manager splitters","operationId":"GithubCombitbadgesbitbadgeschainQuery_AllManagerSplitters","parameters":[{"description":"key is a value returned in PageResponse.next_key to begin\nquerying the next page most efficiently. Only one of offset or key\nshould be set.","name":"pagination.key","in":"query","schema":{"type":"string","format":"byte"}},{"description":"offset is a numeric offset that can be used when key is unavailable.\nIt is less efficient than using key. Only one of offset or key should\nbe set.","name":"pagination.offset","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"limit is the total number of results to be returned in the result page.\nIf left empty it will default to a value to be set by each app.","name":"pagination.limit","in":"query","schema":{"type":"string","format":"uint64"}},{"description":"count_total is set to true  to indicate that the result set should include\na count of the total number of items available for pagination in UIs.\ncount_total is only respected when offset is used. It is ignored when key\nis set.","name":"pagination.count_total","in":"query","schema":{"type":"boolean"}},{"description":"reverse is set to true if results are to be returned in the descending order.","name":"pagination.reverse","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.QueryAllManagerSplittersResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"AllManagerSplitters queries all manager splitters."}},"/bitbadges/bitbadgeschain/managersplitter/{address}":{"get":{"tags":["Manager splitter"],"summary":"Get a manager splitter","operationId":"GithubCombitbadgesbitbadgeschainQuery_ManagerSplitter","parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.QueryGetManagerSplitterResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"ManagerSplitter queries a manager splitter by address."}},"/bitbadges/bitbadgeschain/managersplitter/params":{"get":{"tags":["Manager splitter"],"summary":"Get module params","operationId":"GithubCombitbadgesbitbadgeschainQuery_ParamsMixin22","responses":{"200":{"description":"A successful response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/managersplitter.QueryParamsResponse"}}}},"default":{"description":"An unexpected error response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/google.rpc.Status"}}}}},"description":"Parameters queries the parameters of the module."}}},"components":{"schemas":{"cosmos.base.query.v1beta1.PageResponse":{"description":"PageResponse is to be embedded in gRPC response messages where the\ncorresponding request message has used PageRequest.\n\n message SomeResponse {\n         repeated Bar results = 1;\n         PageResponse page = 2;\n }","type":"object","properties":{"next_key":{"description":"next_key is the key to be passed to PageRequest.key to\nquery the next page most efficiently. It will be empty if\nthere are no more results.","type":"string","format":"byte"},"total":{"type":"string","format":"uint64","title":"total is total number of results available if PageRequest.count_total\nwas set, its value is undefined otherwise"}}},"cosmos.base.v1beta1.Coin":{"description":"Coin defines a token with a denomination and an amount.\n\nNOTE: The amount field is an Int which implements the custom method\nsignatures required by gogoproto.","type":"object","properties":{"amount":{"type":"string"},"denom":{"type":"string"}}},"gamm.v1beta1.Params":{"type":"object","title":"Params holds parameters for the incentives module"},"gamm.v1beta1.ParamsResponse":{"type":"object","properties":{"params":{"$ref":"#/components/schemas/gamm.v1beta1.Params"}}},"gamm.v1beta1.QueryCalcExitPoolCoinsFromSharesResponse":{"type":"object","properties":{"tokens_out":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}}},"gamm.v1beta1.QueryCalcJoinPoolSharesResponse":{"type":"object","properties":{"share_out_amount":{"type":"string"},"tokens_out":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}}},"gamm.v1beta1.QueryNumPoolsResponse":{"type":"object","properties":{"num_pools":{"type":"string","format":"uint64"}}},"gamm.v1beta1.QueryPoolParamsResponse":{"type":"object","properties":{"params":{"$ref":"#/components/schemas/google.protobuf.Any"}}},"gamm.v1beta1.QueryPoolResponse":{"type":"object","title":"Deprecated: please use the alternative in x/poolmanager","properties":{"pool":{"$ref":"#/components/schemas/google.protobuf.Any"}}},"gamm.v1beta1.QueryPoolTypeResponse":{"type":"object","properties":{"pool_type":{"type":"string"}}},"gamm.v1beta1.QueryPoolsResponse":{"type":"object","properties":{"pagination":{"description":"pagination defines the pagination in the response.","$ref":"#/components/schemas/cosmos.base.query.v1beta1.PageResponse"},"pools":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/google.protobuf.Any"}}}},"gamm.v1beta1.QueryPoolsWithFilterResponse":{"type":"object","properties":{"pagination":{"description":"pagination defines the pagination in the response.","$ref":"#/components/schemas/cosmos.base.query.v1beta1.PageResponse"},"pools":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/google.protobuf.Any"}}}},"gamm.v1beta1.QuerySpotPriceResponse":{"description":"QuerySpotPriceResponse defines the gRPC response structure for a SpotPrice\nquery.","type":"object","properties":{"spot_price":{"type":"string","title":"String of the Dec. Ex) 10.203uatom"}}},"gamm.v1beta1.QuerySwapExactAmountInResponse":{"type":"object","properties":{"token_out_amount":{"type":"string"}}},"gamm.v1beta1.QuerySwapExactAmountOutResponse":{"type":"object","properties":{"token_in_amount":{"type":"string"}}},"gamm.v1beta1.QueryTotalLiquidityResponse":{"type":"object","properties":{"liquidity":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}}},"gamm.v1beta1.QueryTotalPoolLiquidityResponse":{"type":"object","title":"Deprecated: please use the alternative in x/poolmanager","properties":{"liquidity":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}}},"gamm.v1beta1.QueryTotalSharesResponse":{"type":"object","properties":{"total_shares":{"$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}},"gamm.v2.QuerySpotPriceResponse":{"type":"object","title":"Deprecated: please use alternate in x/poolmanager","properties":{"spot_price":{"type":"string","title":"String of the Dec. Ex) 10.203uatom"}}},"google.protobuf.Any":{"type":"object","properties":{"@type":{"type":"string"}},"additionalProperties":{}},"google.rpc.Status":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"details":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/google.protobuf.Any"}},"message":{"type":"string"}}},"managersplitter.ManagerSplitter":{"description":"ManagerSplitter defines the manager splitter entity.","type":"object","properties":{"address":{"description":"The module address of this manager splitter (derived from module name + ID).","type":"string"},"admin":{"description":"Permanent and static admin address. Has full control and can always execute all permissions.","type":"string"},"permissions":{"description":"Permissions mapping each CollectionPermission field to execution criteria.","$ref":"#/components/schemas/managersplitter.ManagerSplitterPermissions"}}},"managersplitter.ManagerSplitterPermissions":{"description":"ManagerSplitterPermissions mirrors the CollectionPermissions structure\nbut maps each permission to criteria for execution.","type":"object","properties":{"canAddMoreAliasPaths":{"description":"Permissions related to adding more alias paths to the collection.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"},"canAddMoreCosmosCoinWrapperPaths":{"description":"Permissions related to adding more cosmos coin wrapper paths to the collection.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"},"canArchiveCollection":{"description":"Permissions related to archiving the collection.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"},"canDeleteCollection":{"description":"Permissions related to deleting the collection.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"},"canUpdateCollectionApprovals":{"description":"Permissions related to updating collection approvals.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"},"canUpdateCollectionMetadata":{"description":"Permissions related to updating the metadata of the collection.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"},"canUpdateCustomData":{"description":"Permissions related to updating custom data for the collection.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"},"canUpdateManager":{"description":"Permissions related to updating the collection's manager.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"},"canUpdateStandards":{"description":"Permissions related to updating standards for the collection.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"},"canUpdateTokenMetadata":{"description":"Permissions related to updating token metadata for specific tokens.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"},"canUpdateValidTokenIds":{"description":"Permissions related to creating more tokens for the collection.","$ref":"#/components/schemas/managersplitter.PermissionCriteria"}}},"managersplitter.Params":{"description":"Params defines the parameters for the module.","type":"object"},"managersplitter.PermissionCriteria":{"description":"PermissionCriteria defines the criteria for executing a permission.\nCurrently supports approved addresses (whitelist).","type":"object","properties":{"approvedAddresses":{"description":"List of approved addresses that can execute this permission.","type":"array","items":{"type":"string"}}}},"managersplitter.QueryAllManagerSplittersResponse":{"description":"QueryAllManagerSplittersResponse is response type for the Query/AllManagerSplitters RPC method.","type":"object","properties":{"managerSplitters":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/managersplitter.ManagerSplitter"}},"pagination":{"$ref":"#/components/schemas/cosmos.base.query.v1beta1.PageResponse"}}},"managersplitter.QueryGetManagerSplitterResponse":{"description":"QueryGetManagerSplitterResponse is response type for the Query/ManagerSplitter RPC method.","type":"object","properties":{"managerSplitter":{"$ref":"#/components/schemas/managersplitter.ManagerSplitter"}}},"managersplitter.QueryParamsResponse":{"description":"QueryParamsResponse is response type for the Query/Params RPC method.","type":"object","properties":{"params":{"description":"params holds all the parameters of this module.","$ref":"#/components/schemas/managersplitter.Params"}}},"poolmanager.v1beta1.AllPoolsResponse":{"type":"object","properties":{"pools":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/google.protobuf.Any"}}}},"poolmanager.v1beta1.AllRegisteredAlloyedPoolsResponse":{"type":"object","properties":{"contract_states":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/poolmanager.v1beta1.AlloyContractTakerFeeShareState"}}}},"poolmanager.v1beta1.AllTakerFeeShareAccumulatorsResponse":{"type":"object","properties":{"taker_fee_skim_accumulators":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeSkimAccumulator"}}}},"poolmanager.v1beta1.AllTakerFeeShareAgreementsResponse":{"type":"object","properties":{"taker_fee_share_agreements":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeShareAgreement"}}}},"poolmanager.v1beta1.AlloyContractTakerFeeShareState":{"description":"AlloyContractTakerFeeShareState contains the contract address of the alloyed\nasset pool, along with the adjusted taker fee share agreements for any asset\nwithin the alloyed asset pool that has a taker fee share agreement. If for\ninstance there are two denoms, and denomA makes up 50 percent and denomB\nmakes up 50 percent, and denom A has a taker fee share agreement with a skim\npercent of 10%, then the adjusted taker fee share agreement for denomA will\nbe 5%.","type":"object","properties":{"contract_address":{"description":"contract_address is the address of the alloyed asset pool contract.","type":"string"},"taker_fee_share_agreements":{"description":"taker_fee_share_agreements is the adjusted taker fee share agreements for\nany asset within the alloyed asset pool that has a taker fee share\nagreement.","type":"array","items":{"type":"object","$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeShareAgreement"}}}},"poolmanager.v1beta1.EstimateSwapExactAmountInResponse":{"type":"object","properties":{"token_out_amount":{"type":"string"}}},"poolmanager.v1beta1.EstimateSwapExactAmountOutResponse":{"type":"object","properties":{"token_in_amount":{"type":"string"}}},"poolmanager.v1beta1.EstimateTradeBasedOnPriceImpactResponse":{"description":"EstimateTradeBasedOnPriceImpactResponse represents the response data\nfor an estimated trade based on price impact. If a trade fails to be\nestimated the response would be 0,0 for input_coin and output_coin and will\nnot error.","type":"object","properties":{"input_coin":{"description":"input_coin is the actual input amount that would be tradeable\nunder the specified price impact.","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"},"output_coin":{"description":"output_coin is the amount of tokens of the ToCoinDenom type\nthat will be received for the actual InputCoin trade.","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}},"poolmanager.v1beta1.ListPoolsByDenomResponse":{"type":"object","properties":{"pools":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/google.protobuf.Any"}}}},"poolmanager.v1beta1.NumPoolsResponse":{"type":"object","properties":{"num_pools":{"type":"string","format":"uint64"}}},"poolmanager.v1beta1.Params":{"type":"object","title":"Params holds parameters for the poolmanager module","properties":{"taker_fee_params":{"description":"taker_fee_params is the container of taker fee parameters.","$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeParams"}}},"poolmanager.v1beta1.ParamsResponse":{"type":"object","properties":{"params":{"$ref":"#/components/schemas/poolmanager.v1beta1.Params"}}},"poolmanager.v1beta1.PoolResponse":{"type":"object","properties":{"pool":{"$ref":"#/components/schemas/google.protobuf.Any"}}},"poolmanager.v1beta1.RegisteredAlloyedPoolFromDenomResponse":{"type":"object","properties":{"contract_state":{"$ref":"#/components/schemas/poolmanager.v1beta1.AlloyContractTakerFeeShareState"}}},"poolmanager.v1beta1.RegisteredAlloyedPoolFromPoolIdResponse":{"type":"object","properties":{"contract_state":{"$ref":"#/components/schemas/poolmanager.v1beta1.AlloyContractTakerFeeShareState"}}},"poolmanager.v1beta1.SpotPriceResponse":{"description":"SpotPriceResponse defines the gRPC response structure for a SpotPrice\nquery.","type":"object","properties":{"spot_price":{"type":"string","title":"String of the Dec. Ex) 10.203uatom"}}},"poolmanager.v1beta1.TakerFeeDistributionPercentage":{"description":"TakerFeeDistributionPercentage defines what percent of the taker fee category\ngets distributed to the available categories.","type":"object","properties":{"community_pool":{"type":"string"},"staking_rewards":{"type":"string"}}},"poolmanager.v1beta1.TakerFeeParams":{"description":"TakerFeeParams consolidates the taker fee parameters for the poolmanager.","type":"object","properties":{"admin_addresses":{"description":"admin_addresses is a list of addresses that are allowed to set and remove\ncustom taker fees for denom pairs. Governance also has the ability to set\nand remove custom taker fees for denom pairs, but with the normal\ngovernance delay.","type":"array","items":{"type":"string"}},"community_pool_denom_to_swap_non_whitelisted_assets_to":{"description":"community_pool_denom_to_swap_non_whitelisted_assets_to is the denom that\nnon-whitelisted taker fees will be swapped to before being sent to\nthe community pool.","type":"string"},"community_pool_denom_whitelist":{"description":"community_pool_denom_whitelist is a list of denoms that should be sent\ndirectly to the community pool instead of being swapped to the\n`community_pool_denom_to_swap_non_whitelisted_assets_to`.","type":"array","items":{"type":"string"}},"default_taker_fee":{"description":"default_taker_fee is the fee used when creating a new pool that doesn't\nfall under a custom pool taker fee or stableswap taker fee category.","type":"string"},"non_osmo_taker_fee_distribution":{"description":"non_osmo_taker_fee_distribution defines the distribution of taker fees\ngenerated in non-OSMO. As of this writing, it has two categories:\n- staking_rewards: the percent of the taker fee that gets swapped to OSMO\n  and then distributed to stakers.\n- community_pool: the percent of the taker fee that gets sent to the\n  community pool. Note: If the non-OSMO asset is an authorized_quote_denom,\n  that denom is sent directly to the community pool. Otherwise, it is\n  swapped to the community_pool_denom_to_swap_non_whitelisted_assets_to and\n  then sent to the community pool as that denom.","$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeDistributionPercentage"},"osmo_taker_fee_distribution":{"description":"osmo_taker_fee_distribution defines the distribution of taker fees\ngenerated in OSMO. As of this writing, it has two categories:\n- staking_rewards: the percent of the taker fee that gets distributed to\n  stakers.\n- community_pool: the percent of the taker fee that gets sent to the\n  community pool.","$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeDistributionPercentage"},"reduced_fee_whitelist":{"description":"reduced_fee_whitelist is a list of addresses that are\nallowed to pay a reduce taker fee when performing a swap\n(i.e. swap without paying the taker fee).\nIt is intended to be used for integrators who meet qualifying factors\nthat are approved by governance.\nInitially, the taker fee is allowed to be bypassed completely. However\nIn the future, we will charge a reduced taker fee instead of no fee at all.","type":"array","items":{"type":"string"}}}},"poolmanager.v1beta1.TakerFeeShareAgreement":{"description":"TakerFeeShareAgreement represents the agreement between the Osmosis protocol\nand a specific denom to share a certain percent of taker fees generated in\nany route that contains said denom. For example, if the agreement specifies a\n10% skim_percent, this means 10% of the taker fees generated in a swap route\ncontaining the specified denom will be sent to the address specified\nin the skim_address field at the end of each epoch. These skim_percents are\nadditive, so if three taker fee agreements have skim percents of 10%, 20%,\nand 30%, the total skim percent for the route will be 60%.","type":"object","properties":{"denom":{"description":"denom is the denom that has the taker fee share agreement.","type":"string"},"skim_address":{"description":"skim_address is the address belonging to the respective denom\nthat the skimmed taker fees will be sent to at the end of each epoch.","type":"string"},"skim_percent":{"description":"skim_percent is the percentage of taker fees that will be skimmed for the\ndenom, in the event that the denom is included in the swap route.","type":"string"}}},"poolmanager.v1beta1.TakerFeeShareAgreementFromDenomResponse":{"type":"object","properties":{"taker_fee_share_agreement":{"$ref":"#/components/schemas/poolmanager.v1beta1.TakerFeeShareAgreement"}}},"poolmanager.v1beta1.TakerFeeShareDenomsToAccruedValueResponse":{"type":"object","properties":{"amount":{"type":"string"}}},"poolmanager.v1beta1.TakerFeeSkimAccumulator":{"description":"TakerFeeSkimAccumulator accumulates the total skimmed taker fees for each\ndenom that has a taker fee share agreement.","type":"object","properties":{"denom":{"description":"denom is the denom that has the taker fee share agreement.","type":"string"},"skimmed_taker_fees":{"description":"skimmed_taker_fees is the total skimmed taker fees for the denom.","type":"array","items":{"type":"object","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}}},"poolmanager.v1beta1.TotalLiquidityResponse":{"type":"object","properties":{"liquidity":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}}},"poolmanager.v1beta1.TotalPoolLiquidityResponse":{"type":"object","properties":{"liquidity":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}}},"poolmanager.v1beta1.TotalVolumeForPoolResponse":{"type":"object","properties":{"volume":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}}},"poolmanager.v1beta1.TradingPairTakerFeeResponse":{"type":"object","properties":{"taker_fee":{"type":"string"}}},"poolmanager.v2.SpotPriceResponse":{"description":"SpotPriceResponse defines the gRPC response structure for a SpotPrice\nquery.","type":"object","properties":{"spot_price":{"type":"string","title":"String of the BigDec. Ex) 10.203uatom"}}},"sendmanager.Params":{"description":"Params defines the parameters for the module.","type":"object"},"sendmanager.QueryBalanceResponse":{"description":"QueryBalanceResponse is response type for the Query/Balance RPC method.","type":"object","properties":{"balance":{"description":"balance is the balance of the specified denom for the address.","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}}},"sendmanager.QueryParamsResponse":{"description":"QueryParamsResponse is response type for the Query/Params RPC method.","type":"object","properties":{"params":{"description":"params holds all the parameters of this module.","$ref":"#/components/schemas/sendmanager.Params"}}},"tokenization.ActionPermission":{"description":"ActionPermission defines the permissions for performing an action.\n\nThis is simple and straightforward as the only thing we need to check is the permitted/forbidden times.","type":"object","properties":{"permanentlyForbiddenTimes":{"description":"Specifies the times when this permission is forbidden. Can not overlap with permanentlyPermittedTimes.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"permanentlyPermittedTimes":{"description":"Specifies the times when this permission is permitted. Can not overlap with permanentlyForbiddenTimes.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}}}},"tokenization.AddressChecks":{"type":"object","title":"AddressChecks defines checks for address types (EVM contract, liquidity pool, etc.)","properties":{"mustBeEvmContract":{"description":"Require the address to be an EVM contract (has code).","type":"boolean"},"mustBeLiquidityPool":{"description":"Require the address to be a liquidity pool.","type":"boolean"},"mustNotBeEvmContract":{"description":"Require the address to not be an EVM contract (no code).","type":"boolean"},"mustNotBeLiquidityPool":{"description":"Require the address to not be a liquidity pool.","type":"boolean"}}},"tokenization.AddressList":{"type":"object","title":"An AddressList is a list of addresses that are referenced by an ID.\nAddressLists are used in defining approvals ia a reusbale identifier. \nNote: We also support a reserved ID system by string ID; \"Mint\", \"!Mint\"","properties":{"addresses":{"description":"List of addresses included in the list.","type":"array","items":{"type":"string"}},"createdBy":{"description":"The user or entity who created the address list.","type":"string"},"customData":{"description":"Custom arbitrary data or additional information related to the address list.","type":"string"},"listId":{"description":"Unique identifier for the address list.","type":"string"},"uri":{"description":"URI (Uniform Resource Identifier) associated with the address list to provide metadata, if applicable.","type":"string"},"whitelist":{"description":"Indicates whether the list includes the specified addresses (true) or excludes them (false).","type":"boolean"}}},"tokenization.AliasPath":{"type":"object","properties":{"conversion":{"description":"The conversion between cosmos coin and token balances.","$ref":"#/components/schemas/tokenization.ConversionWithoutDenom"},"denom":{"description":"The denomination (denom) to be used for the alias.","type":"string"},"denomUnits":{"description":"Denomination units for the alias. Defines how the coin can be displayed with different decimal places and symbols.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.DenomUnit"}},"metadata":{"description":"The metadata for this alias path.","$ref":"#/components/schemas/tokenization.PathMetadata"},"symbol":{"description":"The symbol for the alias (e.g., \"BADGE\", \"NFT\"). Used for display purposes. Note that this may not be the default.","type":"string"}}},"tokenization.AltTimeChecks":{"type":"object","title":"AltTimeChecks defines alternative time-based checks for approval denial.\nIf the transfer time falls within any of the specified offline hours or days, the approval is denied.\nUses UTC timezone for neutral timezone approach.\nofflineHours: ranges of hours (0-23) when transfers should be denied\nofflineDays: ranges of days (0-6, where 0=Sunday, 1=Monday, ..., 6=Saturday) when transfers should be denied","properties":{"offlineDays":{"description":"Days (0-6, where 0=Sunday, 1=Monday, ..., 6=Saturday) when transfers should be denied.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"offlineDaysOfMonth":{"description":"Days of month (1-31) when transfers should be denied.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"offlineHours":{"description":"Hours (0-23) when transfers should be denied.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"offlineMonths":{"description":"Months (1-12, where 1=January, 12=December) when transfers should be denied.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"offlineWeeksOfYear":{"description":"Weeks of year (1-52) when transfers should be denied. Uses ISO 8601 week numbering.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"timezoneOffsetMinutes":{"description":"Timezone offset magnitude in minutes from UTC. Default 0 = UTC. Examples: 300 for EST (UTC-5), 330 for IST (UTC+5:30).\nAll time checks are evaluated after applying this offset to the block time.","type":"string"},"timezoneOffsetNegative":{"type":"boolean","title":"If true, the timezone offset is subtracted (west of UTC). If false, it is added (east of UTC).\nExample: EST (UTC-5) = timezoneOffsetMinutes: 300, timezoneOffsetNegative: true"}}},"tokenization.ApprovalAmounts":{"description":"ApprovalAmounts defines approval amounts per unique \"from,\" \"to,\" and/or \"initiated by\" address.\nIf any of these are nil or \"0\", we assume unlimited approvals.\nIf they are set to a value, then the running tally of the amounts transferred for the specified token IDs and ownership times \nmust not exceed the corresponding value.","type":"object","properties":{"amountTrackerId":{"description":"The ID of the amount tracker associated with this approval.\nWe use this ID to track the number of transfers and amounts transferred.","type":"string"},"overallApprovalAmount":{"description":"Overall approval amount.","type":"string"},"perFromAddressApprovalAmount":{"description":"Approval amount per \"from\" address.","type":"string"},"perInitiatedByAddressApprovalAmount":{"description":"Approval amount per \"initiated by\" address.","type":"string"},"perToAddressApprovalAmount":{"description":"Approval amount per \"to\" address.","type":"string"},"resetTimeIntervals":{"description":"Time intervals to reset the trackers at.","$ref":"#/components/schemas/tokenization.ResetTimeIntervals"}}},"tokenization.ApprovalCriteria":{"description":"ApprovalCriteria defines the criteria for approving transfers.\nAll criteria must be satisfied for the approval to be considered valid.","type":"object","properties":{"allowBackedMinting":{"description":"If true, this collection approval allows backed minting operations (CosmosCoinBackedPath).\nWhen false, this approval cannot be used for transfers involving backed minting addresses.\nThis prevents accidental allowances when toListIds is \"All\".","type":"boolean"},"allowSpecialWrapping":{"description":"If true, this collection approval allows special wrapping operations (CosmosCoinWrapperPath).\nWhen false, this approval cannot be used for transfers involving wrapping addresses.\nThis prevents accidental allowances when toListIds is \"All\".","type":"boolean"},"altTimeChecks":{"description":"Alternative time-based checks for approval denial (offline hours/days). Defines time periods\nduring which this approval should be denied, such as specific hours of the day or days of the week.","$ref":"#/components/schemas/tokenization.AltTimeChecks"},"approvalAmounts":{"description":"Threshold limit of amounts that can be transferred using this approval. Tracks cumulative amounts\ntransferred and enforces maximum limits per approval.","$ref":"#/components/schemas/tokenization.ApprovalAmounts"},"autoDeletionOptions":{"description":"Auto-deletion options for this approval. Defines conditions under which this approval should be\nautomatically deleted (e.g., after a certain number of uses or time period).","$ref":"#/components/schemas/tokenization.AutoDeletionOptions"},"coinTransfers":{"description":"The sdk.Coins that need to be transferred for approval. Defines required coin transfers (e.g., fees,\nroyalties) that must be executed alongside the token transfer for the approval to be valid.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.CoinTransfer"}},"dynamicStoreChallenges":{"description":"Dynamic store challenges that the initiator must pass for approval. The initiator must provide\nvalid proofs that satisfy all specified dynamic store challenges (e.g., key-value store lookups).","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.DynamicStoreChallenge"}},"ethSignatureChallenges":{"description":"ETH signature challenges that the initiator must pass for approval. The initiator must provide\nvalid Ethereum signatures for all specified challenges. Each signature can only be used once.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.ETHSignatureChallenge"}},"evmQueryChallenges":{"description":"EVM query challenges that must pass for approval. Read-only contract queries\nthat verify external EVM state (e.g., token ownership in another contract).","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.EVMQueryChallenge"}},"initiatorChecks":{"description":"Address checks for the initiator of the transfer. Validates that the initiator address meets the\nspecified criteria (e.g., whitelist, blacklist, protocol address requirements).","$ref":"#/components/schemas/tokenization.AddressChecks"},"maxNumTransfers":{"description":"Maximum number of transfers that can be processed using this approval. Tracks the count of transfers\nand enforces the limit to prevent exceeding the allowed number of uses.","$ref":"#/components/schemas/tokenization.MaxNumTransfers"},"merkleChallenges":{"description":"Merkle challenges that must be satisfied for approval. The initiator must provide valid Merkle proofs\nthat satisfy all specified challenges. Each challenge requires a proof that leads to a specific root hash.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.MerkleChallenge"}},"mustOwnTokens":{"description":"Must own tokens for approval. Defines token ownership requirements that must be satisfied for\nthe approval to be valid. The initiator must own the specified tokens at the specified ownership times.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.MustOwnTokens"}},"mustPrioritize":{"description":"If true, this approval must be explicitly prioritized in PrioritizedApprovals to be used.\nThis allows fine-grained control over which approvals are applied when multiple approvals could match.","type":"boolean"},"overridesFromOutgoingApprovals":{"description":"Overrides the user's outgoing approvals for approval. If true, this collection-level approval\ntakes precedence over any outgoing approvals defined by the sender, allowing the collection to\ncontrol outgoing transfer behavior.","type":"boolean"},"overridesToIncomingApprovals":{"description":"Overrides the user's incoming approvals for approval. If true, this collection-level approval\ntakes precedence over any incoming approvals defined by the recipient, allowing the collection to\ncontrol incoming transfer behavior.","type":"boolean"},"predeterminedBalances":{"description":"Predetermined balances that must be used for each approval. Defines the exact token amounts and IDs\nthat can be transferred when using this approval.","$ref":"#/components/schemas/tokenization.PredeterminedBalances"},"recipientChecks":{"description":"Address checks for the recipient of the transfer. Validates that the recipient address meets the\nspecified criteria (e.g., whitelist, blacklist, protocol address requirements).","$ref":"#/components/schemas/tokenization.AddressChecks"},"requireFromDoesNotEqualInitiatedBy":{"description":"Require the \"from\" address to not be equal to the \"initiated by\" address for approval.\nIf true, transfers where the sender equals the initiator are forbidden.","type":"boolean"},"requireFromEqualsInitiatedBy":{"description":"Require the \"from\" address to be equal to the \"initiated by\" address for approval.\nIf true, only transfers where the sender matches the initiator are allowed.","type":"boolean"},"requireToDoesNotEqualInitiatedBy":{"description":"Require the \"to\" address to not be equal to the \"initiated by\" address for approval.\nIf true, transfers where the recipient equals the initiator are forbidden.","type":"boolean"},"requireToEqualsInitiatedBy":{"description":"Require the \"to\" address to be equal to the \"initiated by\" address for approval.\nIf true, only transfers where the recipient matches the initiator are allowed.","type":"boolean"},"senderChecks":{"description":"Address checks for the sender of the transfer. Validates that the sender address meets the\nspecified criteria (e.g., whitelist, blacklist, protocol address requirements).","$ref":"#/components/schemas/tokenization.AddressChecks"},"userApprovalSettings":{"description":"Issuer-imposed constraints on user-level coin transfers. Propagated to user-level approvals\nduring greedy transfer matching (same pattern as userRoyalties). Only applicable on collection-level approvals.\nIf conflicting settings across multiple matched approvals, the transfer is rejected (like royalties).","$ref":"#/components/schemas/tokenization.UserApprovalSettings"},"votingChallenges":{"description":"Voting challenges that must be satisfied for approval. The initiator must provide\nvalid votes that meet the quorum threshold for all specified challenges.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.VotingChallenge"}}}},"tokenization.ApprovalTracker":{"description":"ApprovalTracker defines the tracker for approvals. This tracks the cumulative number of transfers and associated balances transferred.","type":"object","properties":{"amounts":{"description":"Cumulative balances associated with the transfers that have been processed.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.Balance"}},"lastUpdatedAt":{"description":"Last updated at time.","type":"string"},"numTransfers":{"description":"The number of transfers that have been processed.","type":"string"}}},"tokenization.AutoDeletionOptions":{"description":"AutoDeletionOptions defines the options for auto-deletion of approvals.","type":"object","properties":{"afterOneUse":{"type":"boolean","title":"After one use?"},"afterOverallMaxNumTransfers":{"type":"boolean","title":"After overall max number of uses threshold is met?"},"allowCounterpartyPurge":{"type":"boolean","title":"Allow counterparty to purge this approval if they are the only initiator"},"allowPurgeIfExpired":{"type":"boolean","title":"Allow others to call PurgeApprovals on behalf of this approval owner"}}},"tokenization.Balance":{"description":"Balance represents the balance of a token for a specific user.\nThe user amounts xAmount of a token specified for the time ranges specified.\n\nExample: User A owns x10 of token IDs 1-10 from 1/1/2020 to 1/1/2021.\n\nIf times or tokenIDs have len > 1, then the user owns all token IDs specified for all time ranges specified.","type":"object","properties":{"amount":{"description":"The amount of the token owned by the user.","type":"string"},"ownershipTimes":{"description":"The time ranges during which the user owns the token.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"tokenIds":{"description":"The token IDs for which the user owns the token.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}}}},"tokenization.CoinTransfer":{"type":"object","properties":{"coins":{"description":"The sdk.Coins to be transferred.","type":"array","items":{"type":"object","$ref":"#/components/schemas/cosmos.base.v1beta1.Coin"}},"overrideFromWithApproverAddress":{"description":"By default, the from address is the initiator of the transaction.\nIf this is set to true, we will override the from address with the approver address.\nNote: This is not applicable for collection approvals (since approverAddress == '').","type":"boolean"},"overrideToWithInitiator":{"description":"By default, the to address is what is specified in the coin transfer.\nIf this is set to true, we will override the to address with the initiator of the transaction.","type":"boolean"},"to":{"description":"The address of the recipient of the transfer.","type":"string"}}},"tokenization.CollectionApproval":{"type":"object","title":"CollectionApproval defines the rules for the approval of a transfer on the collection level","properties":{"approvalCriteria":{"description":"The criteria that must be met for this approval to be considered.","$ref":"#/components/schemas/tokenization.ApprovalCriteria"},"approvalId":{"description":"The ID of this approval. Must be unique per level (i.e. collection, outgoing, incoming).","type":"string"},"customData":{"description":"Arbitrary custom data associated with this approval.","type":"string"},"fromListId":{"description":"The list ID for the sender of the transfer.","type":"string"},"initiatedByListId":{"description":"The list ID for the user who initiated the transfer.","type":"string"},"ownershipTimes":{"description":"The allowed range of ownership times for approval.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"toListId":{"description":"The list ID for the recipient of the transfer.","type":"string"},"tokenIds":{"description":"The allowed range of token IDs for approval.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"transferTimes":{"description":"The allowed range of transfer times for approval.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"uri":{"description":"The URI associated with this approval, optionally providing metadata about the approval.","type":"string"},"version":{"description":"Version of the approval. Maintained internally.","type":"string"}}},"tokenization.CollectionApprovalPermission":{"description":"CollectionApprovalPermission defines what collection approved transfers can be updated vs. are locked.\n\nEach transfer is broken down to a (from, to, initiatedBy, transferTime, tokenId) tuple.\nFor a transfer to match, we need to match ALL of the fields in the combination. \nThese are determined by the fromListId, toListId, initiatedByListId, transferTimes, tokenIds fields.\nAddressLists are used for (from, to, initiatedBy) which are a permanent list of addresses identified by an ID (see AddressLists). \n\npermanentlyPermitted/ForbiddenTimes: when can the manager execute this permission?\n\nEx: Let's say we are updating the transferability for the transfer tuple (\"AllWithoutMint\", \"AllWithoutMint\", \"AllWithoutMint\", 10, 1000).\nWe would check to find the FIRST CollectionApprovalPermission that matches this combination.\nIf we find a match, we would check the permitted/forbidden times to see if we can execute this permission (default is ALLOWED).\n\nEx: So if you wanted to freeze the transferability to enforce that token ID 1 will always be transferable, you could set\nthe combination (\"AllWithoutMint\", \"AllWithoutMint\", \"AllWithoutMint\", \"All Transfer Times\", 1) to always be forbidden.","type":"object","properties":{"approvalId":{"description":"Identifier for the approvalId. You can use \"All\" or \"!approvalId\" for shorthand.\nIf you use \"All\", this approval will match to all approvalIds.\nIf you use \"!approvalId\", this approval will match to all approvalIds except for approvalId.\nIf you use \"approvalId\", this approval will match to only the specified approvalId and fail on all others.","type":"string"},"fromListId":{"description":"Identifier for the sender list.","type":"string"},"initiatedByListId":{"description":"Identifier for the initiator list (who is approved?).","type":"string"},"ownershipTimes":{"description":"Specifies the ownership times for the tokens in the transfer.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"permanentlyForbiddenTimes":{"description":"Specifies the times when this permission is forbidden. Can not overlap with permanentlyPermittedTimes.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"permanentlyPermittedTimes":{"description":"Specifies the times when this permission is permitted. Can not overlap with permanentlyForbiddenTimes.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"toListId":{"description":"Identifier for the recipient list.","type":"string"},"tokenIds":{"description":"Specifies the token IDs involved in the transfer.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}},"transferTimes":{"description":"Specifies the times when the transfer can occur.","type":"array","items":{"type":"object","$ref":"#/components/schemas/tokenization.UintRange"}}}},"tokenization.CollectionInvariants":{"description":"CollectionInvariants defines the invariants that apply to a collection.","type":"object","properties":{"cosmosCoinBackedPath":{"description":"The IBC backed (sdk.coin) path for the collection. Only one path is allowed.","$ref":"#/components/schemas/tokenization.CosmosCoinBackedPath"},"disablePoolCreation":{"description":"If true, disallows pool creation with this collection's assets.\nWhen true, any attempt to create a pool with tokenization assets from this collection will fail.","type":"boolean"},"evmQueryChallenges":{"type":"array","title":"EVM query invariants that must pass after all transfers complete.\nThese are checked once per message after all balance updates, with access to ALL recipient addresses.\nPlaceholders: $sender, $recipients (comma-separated), $initiator, $collectionId, $recipient","items":{"type":"object","$ref":"#/components/schemas/tokenization.EVMQueryChallenge"}},"maxSupplyPerId":{"description":"Maximum supply per token ID. Checked against Total address balances after transfers complete.\nA value of 0 means no limit (unlimited).","type":"string"},"noCustomOwnershipTimes":{"description":"If true, all ownership times must be full ranges [{ start: 1, end: GoMaxUInt64 }].\nThis prevents time-based restrictions on token ownership.","type":"boolean"},"noForcefulPostMintTransfers":{"description":"If true, disallows any collection approvals that have overridesFromOutgoingApprovals or overridesToIncomingApprovals set to true.\nThis prevents forceful transfers that bypass user-level approvals.\nThis only applies to transfers where the from address does not equal \"Mint\".","type":"boolean"}}},"tokenization.CollectionMetadata":{"description":"This message defines the metadata for the collection.\nThe interpretation of this metadata should follow the collection standard.","type":"object","properties":{"customData":{"description":"Custom data or additional i
[...]
