version: 1
validation: sovereign
build:
    main: cmd/bitbadgeschaind
    proto:
        path: proto
        third_party_paths:
            - third_party/proto
            - proto_vendor
accounts:
    - name: zero
      coins:
          - 1ubadge
    - name: burn
      coins:
          - 1ubadge
    #TODO: Remove alice?
    - name: alice
      coins:
          - 99999999999999996ubadge
          - 1000000000000000ustake
          - 100000000000ibc/F082B65C88E4B6D5EF1DB243CDA1D331D002759E938A0F5CD3FFDC5D53B3E349
          - 100000000000ibc/ED07A3391A112B175915CD8FAF43A2DA8E4790EDE12566649D0C2F97716B8518
          - 100000000000ibc/A4DB47A9D3CF9A068D454513891B526702455D3EF08FB9EB558C561F9DC2B701
          - 1000000000000000badges:49:chaosnet
    - name: alice2
      address: bb1kj9kt5y64n5a8677fhjqnmcc24ht2vy9atmdls
      coins:  
          - 99999999999999996ubadge
          - 1000000000000000ustake
          - 100000000000ibc/F082B65C88E4B6D5EF1DB243CDA1D331D002759E938A0F5CD3FFDC5D53B3E349
          - 100000000000ibc/ED07A3391A112B175915CD8FAF43A2DA8E4790EDE12566649D0C2F97716B8518
          - 100000000000ibc/A4DB47A9D3CF9A068D454513891B526702455D3EF08FB9EB558C561F9DC2B701
          - 1000000000000000badges:49:chaosnet
    - name: bob
      coins:
          - 99999999999999996ubadge
          - 1000000000000000ustake
          - 100000000000ibc/F082B65C88E4B6D5EF1DB243CDA1D331D002759E938A0F5CD3FFDC5D53B3E349
          - 100000000000ibc/ED07A3391A112B175915CD8FAF43A2DA8E4790EDE12566649D0C2F97716B8518
          - 100000000000ibc/A4DB47A9D3CF9A068D454513891B526702455D3EF08FB9EB558C561F9DC2B701
          - 1000000000000000badges:49:chaosnet
      address: bb1zecxs0n0kjqr0vjc5ug3kk594zg4s7jn6lj5dj
    - name: charlie
      coins:
          - 1ubadge
    - name: keplr
      address: bb1w63npeee74ewuudzf8cgvy6at4jn4mjr0a9r5p
      coins:
          - 99999999999999996ubadge
          - 1000000000000000ustake
          - 100000000000ibc/F082B65C88E4B6D5EF1DB243CDA1D331D002759E938A0F5CD3FFDC5D53B3E349
          - 100000000000ibc/ED07A3391A112B175915CD8FAF43A2DA8E4790EDE12566649D0C2F97716B8518
          - 100000000000ibc/A4DB47A9D3CF9A068D454513891B526702455D3EF08FB9EB558C561F9DC2B701
          - 1000000000000000badges:49:chaosnet
    - name: subsidized-testing
      address: bb1p9kscae606qhvdfuazmtlvgfghjwtal2e8j78p
      coins:
          - 99999999999999996ubadge
          - 1000000000000000ustake
          - 100000000000ibc/F082B65C88E4B6D5EF1DB243CDA1D331D002759E938A0F5CD3FFDC5D53B3E349
          - 100000000000ibc/ED07A3391A112B175915CD8FAF43A2DA8E4790EDE12566649D0C2F97716B8518
          - 100000000000ibc/A4DB47A9D3CF9A068D454513891B526702455D3EF08FB9EB558C561F9DC2B701
          - 1000000000000000badges:49:chaosnet
    - name: test-evm-account
      address: bb15ndklrxs6putds43tk9v3p4s0dp9g748anctay
      coins:
          - 99999999999999996ubadge
          - 1000000000000000ustake
client:
    typescript:
        path: ts-client
    openapi:
        path: docs/static/openapi.yml
genesis:
    chain_id: bitbadges-1
    consensus_params:
        block:
            max_bytes: '22020096'
            max_gas: '100000000'
            time_iota_ms: '5000'
    app_state:
        gov:
            params:
                # voting_period: '604800s'
                # max_deposit_period: '604800s'
                voting_period: '10s'
                max_deposit_period: '10s'
                expedited_voting_period: '9s'
                min_deposit:
                    - amount: '10000000000'
                      denom: ustake
                expedited_min_deposit:
                    - amount: '20000000000'
                      denom: ustake
        staking:
            params:
                bond_denom: ustake
        mint:
            params:
                mint_denom: ustake
                blocks_per_year: '15811200' # 6311520 assuming 5s blocks
        crisis:
            constant_fee:
                denom: ubadge
                amount: '10000000000'
        bank:
            denom_metadata:
                - description: The native token of BitBadges Chain
                  denom_units:
                    - denom: ubadge
                      exponent: 0
                    - denom: badge
                      exponent: 9
                  base: ubadge
                  display: badge
                  name: Badge
                  symbol: BADGE
        evm:
            params:
                evm_denom: ubadge
                extended_denom_options:
                    extended_denom: abadge
                active_static_precompiles:
                    - "0x0000000000000000000000000000000000001001"  # Tokenization precompile
                    - "0x0000000000000000000000000000000000001002"  # Gamm precompile
validators:
    - name: alice
      bonded: 1000000000000000ustake
