version: 1
validation: sovereign
build:
    main: cmd/bitbadgeschaind
    proto:
        path: proto
        third_party_paths:
            - third_party/proto
            - proto_vendor
accounts:
    - name: zero
      coins:
          - 1ubadge
    - name: burn
      coins:
          - 1ubadge
    #TODO: Remove alice?
    - name: alice
      coins:
          - 1ubadge
          - 1000000000000000ustake
    - name: bob
      coins:
          - 99999999999999996ubadge
          - 99000000000000000ustake
      address: bb1zecxs0n0kjqr0vjc5ug3kk594zg4s7jn6lj5dj
    - name: charlie
      coins:
          - 1ubadge
client:
    typescript:
        path: ts-client
    openapi:
        path: docs/static/openapi.yml
genesis:
    chain_id: bitbadges-2
    consensus_params:
        block:
            max_bytes: '22020096'
            max_gas: '40000000'
            time_iota_ms: '2000'
    app_state:
        gov:
            params:
                voting_period: '604800s'
                max_deposit_period: '604800s'
                # voting_period: '600s'
                # max_deposit_period: '600s'
                min_deposit:
                    - amount: '10000000000'
                      denom: ustake
        staking:
            params:
                bond_denom: ustake
        mint:
            params:
                mint_denom: ustake
                blocks_per_year: '15811200' # 6311520 assuming 5s blocks
        crisis:
            constant_fee:
                denom: ubadge
                amount: '10000000000'
        evm:
            params:
                evm_denom: ubadge
                extended_denom_options:
                    extended_denom: abadge
                # Note: chain_config.chain_id is set via build flags
                # Mainnet: 50024, Testnet: 50025, Local dev: 90123
                active_static_precompiles:
                    # Default Cosmos precompiles
                    - "0x0000000000000000000000000000000000000800"  # Staking precompile
                    - "0x0000000000000000000000000000000000000801"  # Distribution precompile
                    - "0x0000000000000000000000000000000000000802"  # ICS20 (IBC) precompile
                    - "0x0000000000000000000000000000000000000803"  # Vesting precompile
                    - "0x0000000000000000000000000000000000000804"  # Bank precompile
                    - "0x0000000000000000000000000000000000000805"  # Governance precompile
                    - "0x0000000000000000000000000000000000000806"  # Slashing precompile
                    # Custom BitBadges precompiles
                    - "0x0000000000000000000000000000000000001001"  # Tokenization precompile
                    - "0x0000000000000000000000000000000000001002"  # Gamm precompile
                    - "0x0000000000000000000000000000000000001003"  # SendManager precompile
validators:
    - name: alice
      bonded: 1000000000000000ustake
